html{
	overflow:hidden;
	height: 100vh; 
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
  }
  
.container{
	align-content: center;
	margin: auto auto;
	width: 1243px;
	min-width:640px;
	height: 642px;
}
  
#title{
	border-radius: 15px 50px;
	background: #73AD21;
	padding: 20px; 
	width: 420px;
	height: 40px;
	color: #FFFFFF;
	text-align: center;
}

h2{
	color: #73AD21;
}

.box{
	border:1px solid #73AD21;
	padding-left: 10px;
	max-width:550px;
	min-width:;
	word-wrap: keep-all;
}

li a{
	color: #73AD21;	
}

.left-side, .right-side{
	float:left;
	margin-left: 25px;
}
