html {
	scroll-behavior: smooth;
}

.cream{
    background-color: #F1F0DA;
    min-height: 100vh;
}

.grey{
    background-color: #f3f3f3;
    min-height: 100vh;
}

.hutan{
    background-image: url("http://www.coford.ie/media/coford/styleassets/images/banner2.jpg"); 
	background-position: center;
	background-repeat: no-repeat;
    min-height: 100vh;
    margin-left: -2%;
}

#title{
    float: center;
    text-align: center;
    color: white;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 20px;
}

h1{
    margin: 0;
}

.row{
    margin-right: 0 !important;
}

.container-fluid{
    padding-right: 0px !important;
}

.prof{
    padding-right: 0;
    padding-left: 0;
}

.max-prof{
    max-width: 350px;
}

.max-pic{
    max-width: 333px;
}

.garis{
    border-right: 3px solid green;
}

.rata-kanan{
    text-align: right;
    padding-right: 15px;
}

.bola{
    height: 130px;
    width: 130px;
    margin-top: 30px;
    margin-right: 30px;
    background-color: #fefefe;
    border-radius: 50%;
    display: inline-block;
    float: right;
    background-color: #8DAD39;
}

.empty{
    width: 15%;
}

.nopad{
    padding-left: 0px;
}

h2{
    font-size: 288px;
    text-align: center;
}

.batas{
    max-width: 27   0px;
    vertical-align: middle;

}

.batas h2{
    color: #718C2A;
    font-size: 288px !important;
    margin-right: 20px;
}

.kontak{
    max-width: 350px;
}

.icon{
    max-width: 105px;
}

.lebar-kontak{
    max-width: 400px;
}

.lebar-kontak h4{
    min-width: 400px;
}

.sidenav {
    width: 130px;
    position: fixed;
    z-index: 1;
    top: 35%;
    right: 10px;
    background: #8DAD39;
    overflow-x: hidden;
    padding: 8px 0;
}
  
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: rgb(255, 255, 255);
    display: block;
    text-align: center;
    padding-left: 8px;  
}
  
.sidenav a:hover {
    color: #FEFCD7;
    background: #718C2A
}

h1#title{
      width: 670px;
      font-family: Biryani, sans-serif;
      font-size: 48px;
      
      background-color: rgba(0, 0, 0, 0.5);
}

.konten h2,h4{
    font-family: Poppins, sans-serif;
    font-size: 30px;
    font-weight: 600;
}

  .sidenav a{
      font-family: Poppins, sans-serif;
      font-weight: 700;
  }

  .prof h1{
    color: #8DAD39;
  }

.bold{
    font-weight: 700;
    text-decoration: underline;
    color: #8DAD39;
    font-size: 50px;
}

.blue{
    color: #2269BB;
}

.red{
    color: #D41E1E;
}

.yellow{
    color: #B8BC03;
}

.ukur{
    min-height: 100vh;
}

.aja {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}