{% load static %}
<!DOCTYPE html>
<html>

    <head>
        <title>A Wanderer</title>
        <link href="{% static './bootstrap-4.3.1-dist/css/bootstrap.css' %}" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Biryani:700|Poppins:400,600,700&display=swap" rel="stylesheet">   
        <link href="{% static 'profilestyle.css' %}" type="text/css" rel="stylesheet">
    </head>

    <body>
        <div class="nav-kanan">
            <div class="sidenav">
                <a href="#begin-sec">Begin</a>
                <a href="#profile-sec">Profile</a>
                <a href="#edu-sec">Edu</a>
                <a href="#skills-sec">Skills</a>
                <a href="#contact-sec">Contact</a>
            </div>          
        </div>

        <div class="konten">
            <!-- Begin part -->
            <div class="container-fluid cream" id="begin-sec">
                <div class="hutan"></div>
                <h1 id="title">The Story of<br>Muhammad Mudrik</h1>
            </div>
            
            <!-- Profile -->
            <div class="grey" id="profile-sec">
                <div class="container-fluid">
                    <!-- SISI KIRI -->
                    <div class="row ukur align-items-center justify-content-center">
                        <div class="col-sm-4 prof align-content-center max-prof">
                            <h1>Hi,<br/>I'm <span class="bold">Mudrik</span></h1>
                            <h4>I'm a <span class="blue">C</span><span class="red">S</span> Students at <span class="yellow">Universitas Indonesia</span> <br> 
                                I'm a part of Quanta <br>
                                I'm an IT Enthusiast <br>
                                I'm Interested in Business <br> 
                                I'm an <span class="red">Taekwondo</span> Athlete <br>   
                            </h4>
                        </div>

                        <!-- SISI KANAN -->
                        <div class="col-sm-4 prof align-content-center max-pic">
                            <img class="img-fluid"src="{% static './niupic-jadi.png' %}" alt="Mudrik">
                            <!-- <img id="profpicc2" src="./siluet.png"> -->
                        </div>
                    </div>
                </div>
            </div>

            <!-- Education dan Experience -->
            <div class="cream" id="edu-sec">
                <div class="container-fluid">
                    <div class="row ukur align-content-center justify-content-center ">
                        <!-- Education -->
                        <div class="col-sm-4">
                            <div class="garis rata-kanan">
                                <h1 class="bold">Education</h1>
                                <h4>
                                    Universitas Indonesia<br>2018-2012<br><br>
                                    65 Senior Highschool<br>2015-2018<br>
                                </h4>
                            </div>
                            <div class="bola"></div>
                        </div>

                        <!-- Experience -->
                        <div class="col-sm-4 nopad">
                            <h1 class="bold">Experience</h1>
                            <h4>
                                Head of KMF Buerau at FUKI<br>Feb 2019 - Dec 2019<br><br>
                                Staff of Business IT Case at COMPFEST<br>Mar 2019 - Sep 2019<br> <br>
                                Staff of HPK at PMB 2019 Fasilkom UI<br>Jun 2019 - Nov 2019<br>
                            </h4>
                        </div>
                        <div class="empty"></div>
                    </div>
                </div>
            </div>

            <!-- Skills -->
            <div class="grey" id="skills-sec">
                <div class="container-fluid">
                    <div class="row ukur align-content-center justify-content-center">
                        <!-- Curly Bracket -->
                        <div class="col-sm-4 batas justify-content-center">
                            <div>
                                <h2>{}</h2>
                            </div>
                        </div>
                        
                        <!-- Skill list -->
                        <div class="col-sm-4 batas">
                            <h1 class="bold">Skills</h1>
                            <h4>
                                Java <br>
                                Python <br>
                                Adobe Photoshop <br>
                                Public Speaking <br>
                                Teamwork <br>
                                Hardworker
                            </h4>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Contact me -->
            <div class="cream" id="contact-sec">
                <div class="container-fluid">
                    <div class="col-sm aja">
                        <h1 class="bold">Contact me</h1>
                        <div>
                            <a href="https://github.com/rukamudrik"><img src="{% static './icons8-github-100.png' %}"></a>
                            <a href="mailto:rokamudrik@gmail.com"><img src="{% static './icons8-gmail-100.png' %}"></a>
                            <a href="https://www.instagram.com/mudriksyekhbu/"><img src="{% static './icons8-instagram-100.png' %}"></a>
                            <a href="https://www.linkedin.com/in/muhammad-mudrik/"><img src="{% static './icons8-linkedin-100.png' %}"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>

</html>