<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>404 Forest not found</title>
    </head>
    <body>
        <div class="bakar"></div>
        <div id="title">
            <h1>404</h1>
            <h4>This forest page is still a mystery,<br>please return to homepage.</h4>
        </div>
        
    <style>
    .bakar{
        background: url("{% static 'hutan-merah.jpg' %}") no-repeat center center/cover;
        min-height: 100vh;
    }

    #title h1{
        font-family: sans-serif;
        margin: 0px;
        font-size: 48px;
        text-align: left;
        padding-left: 10%;
    }

    #title h4{
        font-family: sans-serif;
        margin: 0px;
        font-size: 20px;
        text-align: left;
        padding-left: 10%;
    }
    body{
        margin: 0px;    
    }
    #title{
        float: center;
        text-align: center;
        color: black;
        text-align: center;
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        padding: 0px;
        margin: 0px;
    }
    </style>
    </body>
</html>