{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<title>Home Page</title>
		<link href="https://fonts.googleapis.com/css?family=Caveat|Poppins&display=swap" rel="stylesheet">
		<link href="{% static 'home_style.css' %}" type="text/css" rel="stylesheet">
	</head>
	
	<body>
		<div class="bg-img bg-text"></div>
		<div class="navbar">
			<a href="lab-1">Lab-1</a>
			<a href="lab-3">Lab-3</a>
			<a>to be continued.</a>
		</div>
		<h1 class="title bg-text">The Story begin's here.</h1>
		<h5 class="credit bg-text"> -ruka- </h5>
	</body>
</html>